@model IEnumerable<Atividade04.Domain.Post>

@{
    HttpCookie cookie = Request.Cookies["atividade4-user"];
    string loggedUser = "";
    if (cookie != null)
    {
        loggedUser = cookie.Value;
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Posts</title>
</head>

<body>
    <div class="jumbotron">
        <h1>Posts</h1>
        <p class="lead">Postagens do blog @(loggedUser)</p>
    </div>
    @if (Model == null)
    {
        <h1>Sem postagens disponiveis!</h1>
    }
    else
    {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </table>
    }
</body>
</html>
